
body {
	margin: 0px;
	padding: 0px;
}

section {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

section#navbar {
	background-color: #faebeb;
	border-bottom: .5px solid black;
	height: 65px;
}

#navbar div {
	width: 95%;
	margin-left: 2.5vmax;
	padding: 0px;
	padding-top: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navbar div div {
	width: 50vmax;
}

#navbar div div a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Grenda', sans-serif;
}
